body
{
    background-image: url(../img/background.jpg);
  
    background-position: fixed;
    image-rendering: smooth;
    overflow: auto;
}

.container > #button3
{
    display: none;
}

.container 
{
    font-size: 1.5em;
}

.favorites
{
    display: none;
    color:yellow;
}



h1
{
    font-size: 2em;
    text-align: center;
}

ul
{
    list-style-type: none;
}

li
{
    text-align: center;
}

.heros
{
    display: block;
    grid-row: 1;
    grid-column: 1;
    color:yellow;
   
}

